h1 {
  text-align: center;
  font-size: 2em;
  font-family: italic;
  color: white;
  margin-bottom: 20px;
  background: rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a {
  text-align: center;
  font-family: italic;
  color: black;
  margin-bottom: 20px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 4px solid #000;
}

table {
  margin: .3em;
  width: 290px;
}

th {
  padding: .2em;
}

td {
  padding-left: .5em;
  padding-right: .5em;
  border: 1px solid #900;
  background-color: #ffc;
}

#trHeader {
  text-decoration: underline;
  color: #900;
}

.centerCell {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
bord {
  border: 5px solid #555;
}

body {
 font-family: Arial;
 margin: 0;  
}
.header {
	padding: 10px;
	text-align: center;
	background: #515151;
	color: white;
	font-size: 30px;
}
.under {
	padding: 40px;
	text-align: center;
	background: url("resources/images/wall.png");
	color: black;
	font-size: 30px;
}
.content {padding:20px;}
.button {
	background-color: black;
	border: none;
	border-radius: 7px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
section {
  display: block;
  width: 90%;
  text-align: center;
  background: gray;
  margin: 4px 2px;
  border-radius: 7px;
}
.over {
	font-family: Arial;
	padding: 50px;
	text-align: center;
	background: url("resources/images/desen4.jpg");
	font-size: 30px;
	height: 200px;
	width: 100%;
}
.soup {
	font-family: Arial;
	padding: 50px;
	text-align: center;
	background: rgba(255,255,165,1);
	font-size: 30px;
	height: 50px;
	width: 100%;
}
.awe {
	padding: 50px;
	text-align: center;
	background: rgba(172,202,202,1);
	font-size: 30px;
	height: 300px;
	width: 80%;
	margin:0px auto;	
}
.zoom:hover {
  transform: scale(1.5);
}
.fontchange:hover {
  font-family: Arial;
}
.kolor:hover {
  background: red;
}

.owo {
	padding: 50px;
	text-align: center;
	background: rgba(255,255,165,1);
	font-size: 20px;
	height: 50px;
	width: 100%;
	margin:0px auto;
	font-style: italic;
    font-weight: bold;
}
 